<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="zenprotocol" value="https://www.myget.org/F/zenprotocol/api/v2" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="zenprotocol">
      <package pattern="zen_*" />
      <package pattern="Zulib" />
      <package pattern="CGPContract" />
      <package pattern="FsBech32" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
